@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@layer theme, base, antd, components, utilities;
@import 'tailwindcss';

:root{
  font-family: 'Raleway', sans-serif;
}

body{
  background: #f5f5f5;
  color: #000;
}